.wrap{
  font-family: "Segoe UI","微軟正黑體",sans-serif;
    margin: 0 auto;
    width: 100%;
}
.container{
  width: 1200px;/*59.2%; */
  margin: 0 auto;
}
h2{
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
  color: #000;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  padding: 2px;
}
h2 span{
  font-size: 24px;
  line-height: 32px;
  color: #A00404;
}
.logo{
  width: 324px;
  margin-bottom: 45px;
}

.header h1{
  margin-top: 45px;
  /* 改boder bottom取代hr */
  border-bottom: 1px solid #000000;
  /* 刪除寬度，改在HTML加<br>
  width: 288px; */
  font-size: 80px;
  line-height: 90px;
  padding-bottom: 35px;
  margin-bottom: 45px;
}
/*
.header hr{
   border: 0;
   height: 2px;
   background: #0000;
   background-image: linear-gradient(to right, #ccc, #333, #ccc);
   margin-bottom: 45px;
}
*/
.content ul{
  margin-left: 11px; 
  position: relative;  
  margin-bottom: 50px;
 
}
.content li{
  font-size: 24px;
  line-height: 36px; 
  margin-left: 21px;
  margin-bottom: 24px;
}

.content p{
  margin-bottom: 24px;
}

.circle-li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:  #96A9C4; /* Change the color */
  font-size: 1.8em;
  font-weight: bold; /* If you want it to be bold */
  /* display: inline-block; Needed to add space between the bullet and the text */
  width: 0.5em; /* Also needed for space (tweak if needed) */
  margin-left: -26px;; /* Also needed for space (tweak if needed) */
}

.education li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:  #96A9C4; /* Change the color */
  font-size: 1.8em;
  font-weight: bold; /* If you want it to be bold */
  /* display: inline-block; Needed to add space between the bullet and the text */
  width: 0.5em; /* Also needed for space (tweak if needed) */
  margin-left: -26px;; /* Also needed for space (tweak if needed) */
}
.link-line{
  border-left: 2px solid #96A9C4;
  position: absolute;
  top: 20%;
  margin-left: -18px;
  bottom: 20%;
}

.skills{
  color: #ffff;
  margin-bottom: 50px;
}
.showbox-header{
  display: flex;
  justify-content: space-between;
}
.showbox-content{
  display: flex;
  justify-content: space-between;
}

.showbox-bottom{
  line-height: 45px;
  /*height: 45px;*/
}

.side{
  width: 360px;
  background: #96a9c4;
  /*border-top: 2px solid #000000;*/
  border-bottom: 6px solid #ffffff;
}
.side-top-space{
  width: 360px;  
  border-bottom: 10px solid #96A9C4;
}
.medium{
  display: flex;
  justify-content: center;
  background: #415165;
  text-align: center;
}
.medium h2{
  padding-top: 20px;
  padding-bottom: 10px;
  width: 1200px;
  color: #fff;
  border-bottom: 1px solid #ffff;
}
.medium h2 span{
  color: #fff;
}
.list{
  width: 1200px;
  text-align: left;
  font-size: 24px;
  font-weight: lighter;
  line-height: 40px;
  border-left: 1px solid #ffff;
  padding-left: 20px;
  margin: 40px;
  margin-bottom: 0px;
}

.work{  
  border-left: 1px solid #96A9C4; 
}
.work li{
 font-weight: bold;
}

.work li p{
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

.footer{
  width: 100%;
  background: #415165;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: lighter;
}
.footer h2{
  margin-bottom: 24px;  
}

.footer ul img{
  margin-right: 5px;
  margin-left: 5px;
} 

.footer ul a:hover{
  /*background: #96A9C4;*/
  border-bottom: 5px solid #96A9C4;
  border-radius: 5px;
}